<form class="modal-content" [formGroup]="resetPasswordForm">
    <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">{{"Reset Password for"|translate}} {{userName}}</h5>
        <button type="button" class="btn-close" (click)="dismiss()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3 col-md-12">
            <label for="password" class="form-label">{{"Password"|translate}}</label>
            <input class="form-control" type="password" formControlName="password" placeholder="******" autofocus />
            <div *ngIf="!resetPasswordForm.get('password')?.valid && resetPasswordForm.get('password')?.touched" class="text-danger">
                <small *ngIf="resetPasswordForm.get('password')?.hasError('required')">{{ 'Password is required.' | translate }}</small>
            </div>
            <div *ngIf="!resetPasswordForm.get('password')?.valid && resetPasswordForm.get('password')?.touched" class="text-danger">
                <small *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">{{ 'Password must be at least 6 characters.' | translate }}</small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">{{"Close"|translate}}</button>
        <button type="button" class="btn btn-primary" [disabled]="!this.resetPasswordForm.valid" (click)="save()">{{"Save"|translate}}</button>
    </div>
</form>