<div *ngIf="forbidden">
    <app-forbidden></app-forbidden>
</div>

<div class="row" *ngIf="!forbidden">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h4 class="card-title mb-0">{{"Users"|translate}}</h4>
                <div class="d-flex">
                    <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn"
                        (click)="generateKey()"><i class="ri-add-line align-bottom me-1"></i>
                        {{"Generate"|translate}}</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive data-table">
                    <div class="dataTables_wrapper no-footer">
                        <table id="apiKeysTable" datatable [dtOptions]="dtOptions"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>